@import "../../app.scss";

$issue-board-normal : #FFFFFF;
$issue-board-warning : #EEA033;
$issue-board-danger : #DC3545;

.sprint-issue {
  height: 20vh;
  background: $issue-board-normal;
  color: black;
}

.sprint-issue .header {
  font-family: $font-semi-bold;
  font-size: 25px;
}

.issue-count {
  width: 65px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid;
  margin: 15px 20px;
}

.st-warning {
  background: $issue-board-warning;
  color: black;;
}

.st-danger {
  background: $issue-board-danger;
  color: white;
}