@import "../../app.scss";

.category {
  padding: 5px 10px;
  background: $primary-group-color;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 800;
  font-family: $font-semi-bold;
}

.slave-board {
  margin-top: 15px;
  padding: 0;
}

.dev-group {
  height: 25vh;
}

.tester-group {
  height: 15vh;
}

.slave-board {
  .table th,
  .table td {
    color: white;
    padding: 0.4rem;
    font-size: 14px;
  }
}
