@import "../../app.scss";


.ticket-holder {
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}

.ticket-holder > .header {
  margin: 0 0 10px 5px;
}

.tickets {
  height: 50vh;
  overflow-y: scroll;
  color: $primary-font-color;

  tr {
    color: $primary-font-color;
  }

  .to-do {
    border-left: 10px solid $to-do-color;
  }
  
  .in-progress {
    border-left: 10px solid $in-progress-color;
  }
  
  .under-testing {
    border-left: 10px solid $under-testing-color;
  }
  
  .done {
    border-left: 10px solid $done-color;
  }
}

