@import "../../app.scss";

.story {
  height: 40vh;
  background: $widget-color;
}

.story table {
  margin-top: 20px;
  color: $primary-font-color;
  font-family: $font-regular;
  font-size: 14px;
}

.indicator {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.to-do {
  background-color: $to-do-color;
}
.in-progress {
  background-color: $in-progress-color;
}
.under-testing {
  background-color: $under-testing-color;
}
.done {
  background-color: $done-color;
}