@import "../../app.scss";

.backlog-board {
  
  .header {
    font-size: 30px;
  }

  text-align: center;
  padding: 15px;
  background: $widget-color;
  border-radius: 5px;

  .backlog-items {  
    font-size: 75px;
    margin: 15px 0;
  }
  
  .sub-text {
    word-spacing: 100vw;
    line-height: 1.6;
  }
}

