
body {
  overflow-y: hidden;
}

.header {
  font-family: "Montserrat-SemiBold";
  font-size: 24px;
}

.widget {
  border-radius: 6px;
  margin-top: 15px;
  padding: 10px 0 0 20px;
}

// Color Settings

$primary-font-color: #FFFFFF;
$primary-group-color: #7c3fee;

$to-do-color: #3498db;
$in-progress-color: #F9D45F;
$under-testing-color: #F49322;
$done-color: #16a085;
