@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: Montserrat-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

@font-face {
  font-family: Fresh-Eaters;
  src: url("./assets/fonts/Freesh-Eaters.otf") format("opentype");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("./assets/fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("./assets/fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: Montserrat-Thin;
  src: url("./assets/fonts/Montserrat-Thin.otf") format("opentype");
}
